@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'KCCChassam', woff2;
}

/* 라이브러리 */
.table-box-type-1>thead th, .table-box-type-1 th{
	border: 2px solid black;
		
}